<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>svlPelicul</display-name>
    <servlet-name>svlPelicul</servlet-name>
    <servlet-class>svl.svlPelicul</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlPelicul</servlet-name>
    <url-pattern>/svlPelicul</url-pattern>
  </servlet-mapping>
  <display-name>WebCineStar_Eclipse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>svlPelicula</display-name>
    <servlet-name>svlPelicula</servlet-name>
    <servlet-class>svl.svlPelicula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svlPelicula</servlet-name>
    <url-pattern>/svlPelicula</url-pattern>
  </servlet-mapping>
</web-app>